/.DS_Store
/.Rapp.history
/.Rhistory
/.Rproj.user
/Final_Presentation.mlx
/HW1.aux
/HW1.log
/HW1.synctex.gz
/HW2.aux
/HW2.log
/HW2.synctex.gz
/HW3.aux
/HW3.log
/HW3.synctex.gz
/HW4.aux
/HW4.log
/HW4.synctex.gz
/Semi-Parametric-GLARMA-master.zip
/Stat455.Rproj
/polio.csv